#spring-boot
API_PORT=8080

#postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#mailpit 
MAILPIT_PORT=63854
MAILPIT_HOST=mailpit
MAILPIT_UI_PORT=8025

#redis
REDIS_HOST=redis
REDIS_PORT=6379 