#spring-boot
API_PORT=8080
API_JWT_SECRET_KEY=
API_JWT_EXPIRATION=86400000
API_SHOW_SQL=true
API_FORMAT_SQL=true
API_LOGGING_LEVEL=DEBUG #WARN

#postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#mailpit 
MAILPIT_PORT=63854
MAILPIT_HOST=mailpit
MAILPIT_UI_PORT=8025

#redis
REDIS_HOST=redis
REDIS_PORT=6379

#OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRETE=
#frontend
FRONTEND_URL=http://localhost:5173