#spring-boot
API_PORT=8080
API_JWT_SECRET_KEY=
API_JWT_EXPIRATION=3600000
API_SHOW_SQL=false
API_FORMAT_SQL=false
API_LOGGING_LEVEL=DEBUG #WARN
API_SWAGGER_ENABLED=true
API_EMAIL_FROM=

#postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_CONNECTION_STRING=

#mail
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

#OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRETE=

#redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=false

#frontend
FRONTEND_URL=

#S3
S3_ENDPOINT=
S3_PUBLIC_ENDPOINT=
S3_REGION=
S3_ACCESS_LOGIN=
S3_SECRET_PASSWORD=
S3_BUCKET_NAME=restaurant-images
#Loki
LOKI_PORT=3100

#Alloy
ALLOY_PORT=12345

#Prometheus
PROMETHEUS_PORT=9090

#Grafana
GF_PORT=3000
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin


